<ion-header>
  <ion-toolbar>
    <ion-title>logged</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-grid >
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3" sizeLg="4" offsetLg="4">
        <ion-text color="primary" class="ion-text-center">
          <h1 color="primary">Cerrar Sesión</h1>
        </ion-text>
        <ion-item color="primary" class="ion-text-center">
          <h1 color="primary">Cerrar Sesión</h1>
        </ion-item>
        <ion-card>
          <ion-card-content class="ion-padding">
            <div class="ion-text-center">
              <ion-button  color="primary" class="ion-margin-top" (click)="logout()">
                Cerrar Sesión
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
