<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/login']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="fondo">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="3" size-md="4"></ion-col>
      <ion-col size="12" size-lg="6" size-md="8">
        <ion-card class="card">
          <ion-text  class="titulos">
            <h1>CAMBIO DE CONTRASEÑA</h1>
            </ion-text>
          <ion-card-content>

              <ion-item lines="full">
                <ion-label position="floating">Correo</ion-label>
                <ion-input class="input" type="email" placeholder="Correo"  [(ngModel)]="emailU" ></ion-input>
              </ion-item>

              <ion-row>
                <h4>Se enviara un correo electrónico para continuar el cambo de contraseña</h4>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button (click)="Reset()" expand="block" type="submit" shape="round">Enviar Correo</ion-button>
                </ion-col>
              </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
