<app-menu></app-menu>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="4" offsetMd="4">
            <ion-card>
              <ion-text color="primary" class="titulos">
                <h1>REGISTRO</h1>
                </ion-text>
              <ion-card-content >
                <form [formGroup]="form">
                  <ion-item class="ion-margin-vertical">
                    <ion-label position="floating">Documento:</ion-label>
                    <ion-input type="text" placeholder="Documento" [(ngModel)]="datos.documento" [ngModelOptions]="{standalone: true}"></ion-input>
                  </ion-item>

                  <ion-item class="ion-margin-vertical">
                    <ion-label position="floating">Nombre:</ion-label>
                    <ion-input type="text" placeholder="Nombre" [(ngModel)]="datos.nombre" [ngModelOptions]="{standalone: true}"></ion-input>
                  </ion-item>

                  <ion-item class="ion-margin-vertical">
                    <ion-label position="floating">Apellido:</ion-label>
                    <ion-input type="text" placeholder="Apellido" [(ngModel)]="datos.apellido"[ngModelOptions]="{standalone: true}"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Rol:</ion-label>
                    <ion-select [(ngModel)]="datos.rol" [ngModelOptions]="{standalone: true}">
                      <ion-select-option value="invitado">Invitado</ion-select-option>
                      <ion-select-option value="aprendiz">Aprendiz</ion-select-option>
                      <ion-select-option value="funcionario">Funcionario</ion-select-option>
                    </ion-select>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">
                      Telefono:
                    </ion-label>
                    <ion-input type="text" placeholder="Telefono" [(ngModel)]="datos.telefono"[ngModelOptions]="{standalone: true}"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Correo:</ion-label>
                    <ion-input type="email" placeholder="Correo" name="email" formControlName="email" [(ngModel)]="datos.email" ></ion-input>
                  </ion-item>

                  <ion-item *ngIf="email.invalid && email.touched" lines="none">
                    <ion-text color="danger" class="form-error">
                      Porfavor ingrese un email valido.
                    </ion-text>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Contraseña:</ion-label>
                    <ion-input type="password" placeholder="Contraseña" formControlName="password" [(ngModel)]="datos.password"></ion-input>
                  </ion-item>

                  <ion-item *ngIf="password.invalid && password.touched" lines="none">
                    <ion-text color="danger" class="form-error">
                      Ingrese su contraseña .
                    </ion-text>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Confirmar contraseña:</ion-label>
                    <ion-input type="password" placeholder="confirmarcontraseña" formControlName="confirmarcontraseña"></ion-input>
                  </ion-item>

                  <ion-item *ngIf="form.hasError('notEqual') && confirmPassword.touched" lines="none">
                    <ion-text color="danger" class="form-error">
                      Contraseñas no coinciden.por favor verifique
                    </ion-text>
                  </ion-item>

                </form>

                <div class="ion-text-center">
                  <ion-button  color="primary"  expand="block" class="ion-margin-top"  mode="ios" (click)="registrar()">
                    Registrarse
                  </ion-button>
                </div>
                <ion-button fill="clear" routerLink="/login" expand="block">
                  ¿Ya tienes cuenta?
                </ion-button>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>


